@model UserViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Добавить пользователя</h2>
@if (@Model.isActionSuccess)
{
    <div id="successAlert" class="alert alert-success" role="alert">
        Пользователь успешно добавлен!
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('successAlert').style.display = 'none';
        }, 3000); // Скрыть через 3 секунды (3000 миллисекунд)
    </script>
}
else if(@Model.errorMessage!=null)
{
    <div id="warningAlert" class="alert alert-warning" role="alert">
       @Model.errorMessage
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('warningAlert').style.display = 'none';
        }, 3000); 
    </script>
}
<form asp-action="AddNewUser" method="post">
    <div class="form-group">
        <label for="user-email">Email: </label>
        <input class="form-control" name="email" id="user-email" type="text" placeholder="Type email"/>
    </div>
    <div class="form-group">
        <label for="user-password">Password: </label>
        <input class="form-control" name="password" id="user-password" type="password" placeholder="Type password"/>
    </div>
    <button type="submit" class="btn btn-primary m-2">Добавить</button>
</form>
<div>
    <table class="table">
        <tr><th scope="col">#</th><th scope="col">Id</th><th scope="col">Email</th></tr>
        @{ var counter = 1; }
        @foreach (var user in @Model.userList)
        {
            <tr><td>@counter</td><td>@user.Id</td><td>@user.Email</td></tr>
            counter++;
        }
    </table>
</div>

